<div class="characters-content">
    {{#list characters class="list-unstyled list-group"}}
    <img src="images/{{shortCode}}.jpg" class="mr-3 align-self-top" alt="{{name}}"/>
    <div class="media-body">
        <h5 class="mt-0 mb-1">{{upper name}}</h5>
    
    <div>{{#makeBold}}Actor:{{/makeBold}} {{actor}}</div>
    {{#with house}}
    {{#if name }}<div>{{#makeBold}}House:{{/makeBold}} {{name}}</div>{{/if}}
    {{#if seat}}<div>{{#makeBold}}Seat:{{/makeBold}} {{seat}}</div>{{/if}}
    {{#if words}}<div>{{#makeBold}}Words:{{/makeBold}} {{words}}</div>{{/if}}
    {{/with}}
    {{#if location }}<div>{{#makeBold}}Whereabouts:{{/makeBold}} {{#toLower}}{{location}}{{/toLower}}</div>{{/if}}
    {{#unless location}}<div>Whereabouts are unknown..</div>{{/unless}}
			<a href="cast-details.html?id={{@index}}" class="btn btn-secondary float-right">View details</a>

    {{/list}}
    </div>
</div>